In [1]:
#import packages from different libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

#locate the url link
wikiurl = "https://en.wikipedia.org/wiki/List_of_Disney_live-action_adaptations_and_remakes_of_Disney_animated_films"

In [2]:
response = requests.get(wikiurl)
soup = BeautifulSoup(response.text,'html.parser')

In [3]:
#Convert the 1st Wiki table to a list
tb_1 = soup.find_all('table',{'class':"wikitable"})[0]
list_1 = pd.read_html(str(tb_1))

#Convert the 2nd Wiki table to a list
tb_2 = soup.find_all('table',{'class':"wikitable"})[1]
list_2 = pd.read_html(str(tb_2))

In [4]:
#Convert both lists to pandas dataframe
released = pd.DataFrame(list_1[0])
upcoming = pd.DataFrame(list_2[0])

In [5]:
#Drop columns that are not needed
released = released.drop(columns = ["Director(s)","Screenwriter(s)","Producer(s)","Co-production with","Ref."])
upcoming = upcoming.drop(columns = ["Director(s)","Screenwriter(s)","Producer(s)","Co-production with","Ref."])

In [6]:
#Rename the columns for future convenience (merging, etc.)
released.columns = ["title","original_film_title","release_date"]
upcoming.columns = ["title","original_film_title","release_date"]

In [7]:
#Remove parentheses/brackets and all the data within DataFrame released
released['title'] = released['title'].str.replace(r"\[.*\]","")
released['original_film_title'] = released['original_film_title'].str.replace(r"\[.*\]","")
released['original_film_title'] = released['original_film_title'].str.replace(r"\(.*\)","")
released['release_date'] = released['release_date'].str.replace(r"\[.*\]","")

In [8]:
#Remove parentheses/brackets and all the data within DataFrame upcoming
upcoming['title'] = upcoming['title'].str.replace(r"\[.*\]","")
upcoming['original_film_title'] = upcoming['original_film_title'].str.replace(r"\[.*\]","")
upcoming['original_film_title'] = upcoming['original_film_title'].str.replace(r"\(.*\)","")
upcoming['release_date'] = upcoming['release_date'].str.replace(r"\[.*\]","")

In [9]:
released

,title,original_film_title,release_date
0,Rudyard Kipling's The Jungle Book,The Jungle Book,"December 25, 1994"
1,101 Dalmatians,One Hundred and One Dalmatians,"November 27, 1996"
2,102 Dalmatians,One Hundred and One Dalmatians,"November 22, 2000"
3,Alice in Wonderland,Alice in Wonderland,"March 5, 2010"
4,Maleficent,Sleeping Beauty,"May 30, 2014"
5,Cinderella,Cinderella,"March 13, 2015"
6,The Jungle Book,The Jungle Book,"April 15, 2016"
7,Alice Through the Looking Glass,Alice in Wonderland,"May 27, 2016"
8,Beauty and the Beast,Beauty and the Beast,"March 17, 2017"
9,Christopher Robin,Winnie the Pooh films,"August 3, 2018"
10,Dumbo,Dumbo,"March 29, 2019"
11,Aladdin,Aladdin,"May 24, 2019"
12,The Lion King,The Lion King,"July 19, 2019"
13,Maleficent: Mistress of Evil,Sleeping Beauty,"October 18, 2019"
14,Lady and the Tramp,Lady and the Tramp,"November 12, 2019"
15,Mulan,Mulan,"September 4, 2020"
16,Cruella,One Hundred and One Dalmatians,"May 28, 2021"

In [10]:
#Replace all the TBAs with Null values
upcoming['release_date'].fillna('',inplace=True)

In [11]:
upcoming.loc[upcoming.release_date == "TBA", "release_date"] = None

In [12]:
upcoming

,title,original_film_title,release_date
0,Pinocchio,Pinocchio,"September 8, 2022"
1,Peter Pan & Wendy,Peter Pan,2022
2,The Little Mermaid,The Little Mermaid,"May 26, 2023"
3,Snow White,Snow White and the Seven Dwarfs,None
4,Untitled The Jungle Book sequel,The Jungle Book,None
5,Untitled The Lion King follow-up film,The Lion King,None
6,Hercules,Hercules,None
7,Hunchback,The Hunchback of Notre Dame,None
8,Untitled Aladdin sequel,Aladdin,None
9,Bambi,Bambi,None
10,Untitled Cruella sequel,One Hundred and One Dalmatians,None
11,Tink,Tinker Bell,None
12,The Sword in the Stone,The Sword in the Stone,None
13,Robin Hood,Robin Hood,None
14,Untitled Prince Anders film,Aladdin,None
15,The Aristocats,The Aristocats,None
16,Lilo & Stitch,Lilo & Stitch,None

In [13]:
upcoming.loc[upcoming.release_date.isna(),"release_date"]

3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
Name: release_date, dtype: object

In [14]:
#Change String to Datatime
released['release_date'] = pd.to_datetime(released['release_date'])
upcoming['release_date'] = pd.to_datetime(upcoming['release_date'])

In [15]:
upcoming

,title,original_film_title,release_date
0,Pinocchio,Pinocchio,2022-09-08
1,Peter Pan & Wendy,Peter Pan,2022-01-01
2,The Little Mermaid,The Little Mermaid,2023-05-26
3,Snow White,Snow White and the Seven Dwarfs,NaT
4,Untitled The Jungle Book sequel,The Jungle Book,NaT
5,Untitled The Lion King follow-up film,The Lion King,NaT
6,Hercules,Hercules,NaT
7,Hunchback,The Hunchback of Notre Dame,NaT
8,Untitled Aladdin sequel,Aladdin,NaT
9,Bambi,Bambi,NaT
10,Untitled Cruella sequel,One Hundred and One Dalmatians,NaT
11,Tink,Tinker Bell,NaT
12,The Sword in the Stone,The Sword in the Stone,NaT
13,Robin Hood,Robin Hood,NaT
14,Untitled Prince Anders film,Aladdin,NaT
15,The Aristocats,The Aristocats,NaT
16,Lilo & Stitch,Lilo & Stitch,NaT

In [16]:
released.to_csv('released.csv')
upcoming.to_csv('upcoming.csv')