In [173]:
import pandas as pd

df1 = pd.read_csv("released.csv")
df2 = pd.read_csv("upcoming.csv")
df3 = pd.read_csv("disney.csv",index_col=0)

In [193]:
df = pd.merge(df1, df3, left_on='title',right_on='title')
original =  df[df['release_date_y']<'2010-01-01'].iloc[3:]
original = original.drop(columns = ["Unnamed: 0","original_film_title","running_time","release_date_x"])
original.set_index('release_date_y',inplace=True)
original['rotten_tomatoes'] = original['rotten_tomatoes'].str.replace('%','')
original.index.names=['release_date']
original['profit'] = original['box_office'] - original['budget']
original['pct_change'] = original['profit'].pct_change()

In [194]:
original

,title,budget,box_office,imdb,metascore,rotten_tomatoes,profit,pct_change
release_date,,,,,,,,
1951-07-26,Alice in Wonderland,3000000.0,5600000.0,7.4,68.0,81,2600000.0,NaN
1950-02-15,Cinderella,2900000.0,263600000.0,7.3,85.0,97,260700000.0,99.269231
1967-10-18,The Jungle Book,4000000.0,378000000.0,7.6,65.0,88,374000000.0,0.434599
1991-09-29,Beauty and the Beast,25000000.0,440100000.0,8.0,95.0,94,415100000.0,0.109893
1941-10-23,Dumbo,950000.0,1300000.0,7.2,96.0,98,350000.0,-0.999157
1992-11-25,Aladdin,28000000.0,504100000.0,8.0,86.0,95,476100000.0,1359.285714
1994-06-15,The Lion King,45000000.0,968500000.0,8.5,88.0,93,923500000.0,0.939719
1955-06-22,Lady and the Tramp,4000000.0,187000000.0,7.3,78.0,93,183000000.0,-0.801841
1998-06-19,Mulan,90000000.0,304300000.0,7.6,71.0,86,214300000.0,0.171038

In [195]:
remake = df[df['release_date_y']>'2010-01-01']
remake = remake.drop(columns = ['Unnamed: 0','original_film_title','running_time','release_date_y'])
remake.set_index('release_date_x',inplace=True)
remake['rotten_tomatoes'] = remake['rotten_tomatoes'].str.replace('%','')
remake.index.names=['release_date']
remake['profit'] = remake['box_office'] - remake['budget']
remake['pct_change'] = remake['profit'].pct_change()

In [196]:
remake

,title,budget,box_office,imdb,metascore,rotten_tomatoes,profit,pct_change
release_date,,,,,,,,
2010-03-05,Alice in Wonderland,200000000.0,1.025000e+09,6.4,53.0,51,8.250000e+08,NaN
2014-05-30,Maleficent,180000000.0,7.585000e+08,7.0,56.0,54,5.785000e+08,-0.298788
2015-03-13,Cinderella,95000000.0,5.424000e+08,6.9,67.0,84,4.474000e+08,-0.226621
2016-04-15,The Jungle Book,175000000.0,9.666000e+08,7.4,77.0,94,7.916000e+08,0.769334
2016-05-27,Alice Through the Looking Glass,170000000.0,3.000000e+08,6.2,34.0,29,1.300000e+08,-0.835776
2017-03-17,Beauty and the Beast,160000000.0,1.264000e+09,7.1,65.0,71,1.104000e+09,7.492308
2018-08-03,Christopher Robin,75000000.0,1.977000e+08,7.3,60.0,72,1.227000e+08,-0.888859
2019-03-29,Dumbo,170000000.0,3.533000e+08,6.3,51.0,46,1.833000e+08,0.493888
2019-05-24,Aladdin,183000000.0,1.051000e+09,6.9,53.0,57,8.680000e+08,3.735406
2019-07-19,The Lion King,250000000.0,1.657000e+09,6.8,55.0,52,1.407000e+09,0.620968
2019-10-18,Maleficent: Mistress of Evil,185000000.0,4.917000e+08,6.6,43.0,40,3.067000e+08,-0.782018
2019-11-12,Lady and the Tramp,60000000.0,NaN,6.2,48.0,65,NaN,0.000000
2020-09-04,Mulan,200000000.0,5.700000e+07,5.7,66.0,73,-1.430000e+08,-1.466254
2021-05-28,Cruella,200000000.0,2.335000e+08,7.3,59.0,74,3.350000e+07,-1.234266

In [197]:
original.to_csv('original.csv')
remake.to_csv('remake.csv')